################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab.Technical.Exercise/Lab.Techical.Exercise.Database/bin/Debug
