<h1>Musicalog - Music Store Catalog Web App </h1>

<h3>Functional Requirements</h3>
<p>Musicalog is a web application that allows users to keep a catalogue of music albums. You
  are being asked to implement the 1st stage of the project, a Minimum Viable Product (MVP)
  that allows listing, creating, editing or delete albums from the catalog.
  Musicalog investors dream is to sell the app to the Amazon Online Shop, so they take very
  seriously performance and scalability. Also one of the investors is a phD in computer science,
  so complying with the best architectural practices is a must. He would implement the app
  himself if he had the time to do it...</p>

<h3>Album List Screen:</h3>
<ul>
  <h4>A list of all the albums containing the following information for each album: </h4>
  <li>Album Name</li>
  <li>Artist</li>
  <li>Type (vinyl/CD)</li>
  <li>Stock</li>
  <li>Edit album button - shows the Album Detail Screen for the selected album;</li>
  <li>Remove from catalog button.</li>
</ul>
